<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Action Deck</title>
</head>
<body>
{{#has_card}}
<h2 id="{{card_number_id}}">{{card_number}}</h2>
<div>
<strong id="{{urban_missionLetters_id}}">{{{urban_missionLetters}}}</strong>
<span id="{{urban_desc_id"}}>{{{urban_desc}}}</span>
</div>
<div>
<strong id="{{special_missionLetters_id}}">{{{special_missionLetters}}}</strong>
<span id="{{special_desc_id"}}>{{{special_desc}}}</span>
</div>
<div>
<strong id="{{wild_missionLetters_id}}">{{{wild_missionLetters}}}</strong>
<span id="{{wild_desc_id"}}>{{{wild_desc}}}</span>
</div>
{{/has_card}}
{{^has_card}}
<h2 id="{{empty_discard_id}}">No cards have been drawn yet.</h2>
{{/has_card}}
<form formmethod="post" >
<button type="submit" name="draw" formaction="draw">Draw Card</button>
<button type="submit" name="reset" formaction="reset">Reset Deck</button>
</form>
{{#has_prev_card}}<a id="{{prev_cardno_id}}" href="{{prev_cardno}}">Previous Discard</a>&nbsp;&nbsp;&nbsp;&nbsp;{{/has_prev_card}}{{#has_next_card}}<a id="{{next_cardno_id}}" href="{{next_cardno}}">Next Discard</a>{{/has_next_card}}
</body>
</html>