<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Action Deck</title>
<style>
strong.missionLetters {
    font-family: "Arial Black", Arial-BoldMT;
}

span.environType {
    font-family: "Arial Black", Arial-BoldItalicMT;
    font-style: italic;
}

span.desc {
	font-family: serif;
}

button.deckAction {
	font-size: medium;
}
</style>
</head>
<body>
{{#has_card}}
<h2 id="{{card_number_id}}">nr. {{card_number}}</h2>
<div><span class="environType">Urban:</span> 
<strong id="{{urban_missionLetters_id}}" class="missionLetters">{{{urban_missionLetters}}}</strong>
<span id="{{urban_desc_id}}" class="desc">{{{urban_desc}}}</span>
</div>
<div><span class="environType">Special:</span> 
<strong id="{{special_missionLetters_id}}" class="missionLetters">{{{special_missionLetters}}}</strong>
<span id="{{special_desc_id}}" class="desc">{{{special_desc}}}</span>
</div>
<div><span class="environType">Wild: </span>
<strong id="{{wild_missionLetters_id}}" class="missionLetters">{{{wild_missionLetters}}}</strong>
<span id="{{wild_desc_id}}" class="desc">{{{wild_desc}}}</span>
</div>
{{/has_card}}
{{^has_card}}
<h2 id="{{empty_discard_id}}">No cards have been drawn yet.</h2>
{{/has_card}}
<div>
<p></p>
<form >
<button type="submit" name="draw" formaction="../Draw" formmethod="post" class="deckAction">Draw Card</button>
<button type="submit" name="reset" formaction="../Reset" formmethod="post" class="deckAction">Reset Deck</button>
</form>
<p></p>
<a id="{{prev_cardno_id}}" href="{{prev_cardno}}"{{^has_prev_card}} disabled="true"{{/has_prev_card}}>Previous Discard</a>&nbsp<span id="discard_card_number_id">{{discard_card_number}}</span>/<span id="discard_num_cards_id">{{discard_num_cards}}</span>&nbsp;<a id="{{next_cardno_id}}" href="{{next_cardno}}"{{^has_next_card}} disabled="true"{{/has_next_card}}>Next Discard</a>
</div>
</body>
</html>