<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Game</title>
</head>
<body>
	<h2>Create a New Game</h2>
	<form action="Create" method="post">
	Name: <input name="name" type="text" />
	<input type="submit" value="Create Game" />
	</form>
</body>
</html>